html
  head
    title!= title
    script(src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.3/es5-shim.js")
    script(type='text/javascript' src="assets/main.js")
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') Hexlet
        ul.nav.navbar-nav
          li
            a(href='#' id="run-btn") Run
          li
            a(href='#' id="readme-btn") Readme
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#') WEB
          li
            a(href='#') ?
          li
            a(href='#') Status

    #hexlet-ide.hexlet-ide

    script.
        var widget = HexletIde.create(document.getElementById("hexlet-ide"), {
          rpc: {
              url: window.location.host,
              events: {
                reconnect: console.log.bind(console, "reconnect"),
                reconnect_error: console.log.bind(console, "reconnect_error"),
                reconnect_failed: console.log.bind(console, "reconnect_failed"),
              }
          },
          cmd: "make test"
        });

        document.querySelector("#run-btn").addEventListener("click", function() {
            widget.run();
        });

        document.querySelector("#readme-btn").addEventListener("click", function() {
            widget.showReadme();
        });

        window.addEventListener("message", function(event) {
          var data = event.data;
          var cmd = data.cmd;

          if (cmd == "ideMakeTest") {
            widget.run().done(function(response) {
              var result = {
                cmd: cmd,
                response: response
              };
              event.source.postMessage(result, event.origin);
            });
          }
        });
